---
import HeaderLink from './HeaderLink.astro';
import SvgIcons from './SvgIcons.astro';
import { Image } from 'astro:assets';
import logo from '../assets/logo.svg';
---

<header>
	<nav class="nav-style">
	<h2><a href="/">
		<Image 
			src={logo} 
			alt="Logo" 
			loading="eager"
			width="132"
			height="24"
			style="vertical-align: middle; margin-right: 0.5em;"
		/>
	</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
			<HeaderLink href="/resume">Resume</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://bsky.app/profile/ladishdev.bsky.social" target="_blank">
				<span class="sr-only">Callums BlueSky</span>
				<svg viewBox="0 0 256 256" aria-hidden="true" width="32" height="32">
					<use href="#icon-bluesky"/>
				</svg>
			</a>
			<a href="https://github.com/LadishDev" target="_blank">
				<span class="sr-only">Callums GitHub</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
					<use href="#icon-github-small"/>
				</svg>
			</a>
			<a href="https://www.linkedin.com/in/callumbdev" target="_blank">
				<span class="sr-only">Callums LinkedIn</span>
				<svg viewBox="0 0 512 512" aria-hidden="true" width="32" height="32">
					<use href="#icon-linkedin-large"/>
				</svg>
			</a>
		</div>
	</nav>
	<SvgIcons />
</header>
<style>
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;          /* lock navbar height */
        background: #131516;
        z-index: 1200;
        display: flex;
        align-items: center;
    }

    body {
        margin: 0;
        padding-top: 70px;     /* match the navbar height */
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    .nav-style {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}

	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
</style>
