---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

import "../styles/index.css";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div class="container">
			<section class="section-containers">
				<section class="aboutme-container">
					<div class="p-picture">
						<img src="src/assets/ladish.webp" alt="Profile picture of Ladish" />
					</div>
					<div class="text-information">
						<h2 id="typewriter">
						<a href="#" class="typewrite" data-period="2000" data-type='["I am a developer", "A tech enthusiast", "A photographer"]'>
							<span class="wrap"></span>
						</a>
						</h2>
						<p>
							My name is Callum, I am <span id="myAgeResult">--</span> years old and I am from the UK.
							I am a recent Cyber Security Graduate.
							I have a passion for developing things and am currently working on a few projects.
							Also, on the side I am a photographer and I love to take photos of nature and landscapes.
						</p>
					</div>
				</section>
			</section>
		</div>
		<main>
			<h1>Hello, There!</h1>
			<p>
				Welcome to my Personal Portfolio site built with Astro!. This space is dedicated to showcasing my work,
				sharing my thoughts, and connecting with others in the tech community.
			</p>
			<br>
			<h2>About Me</h2>
			<p>
				I am Callum, a dedicated Cyber Security Graduate with a passion for Network Security. My background includes
				a BSc (Hons) in Cyber Security and a strong interest in network security, particularly in the areas of
				network monitoring, intrusion detection, and incident response. You can find a detailed overview of my
				education and experience in my <a href="/about">About</a> page.
			</p>
			<br>
			<h2>Projects</h2>
			<p>
				In the Projects section, you'll discover a selection of my work, including personal projects highlighting my
				skills and creativity. Each project showcases my approach to problem solving and my passion for technology.
				Feel free to explore the <a href="/projects">Projects</a> for insights
			</p>
			<br>
			<h2>Connect with Me</h2>
			<p>
				I love networking and connecting with like-minded individuals. If you have any questions, suggestions, or just want to chat about tech, feel free to reach out!
			</p>
		</main>
		<Footer />
		<!-- @ts-ignore -->
		<script client:load>
			// dynamic import so it's available in the browser context
			Promise.all([
				import('/scripts/typewriter.js'),
				import('/scripts/age-calculate.js')
			]).then(([{ initTypewriter }, { updateAge }]) => {
				console.log('Client script running');
				initTypewriter();
				updateAge('myAgeResult', '2003-11-15');
			}).catch((e) => {
				console.error('Failed to load client modules', e);
			});
		</script>
	</body>
</html>
