---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, There!</h1>
			<p>
				Welcome to my Personal Portfolio site built with Astro!. This space is dedicated to showcasing my work,
				sharing my thoughts, and connecting with others in the tech community.
			</p>
			<br>
			<h2>About Me</h2>
			<p>
				I am Callum, a dedicated Cyber Security Graduate with a passion for Network Security. My background includes
				a BSc (Hons) in Cyber Security and a strong interest in network security, particularly in the areas of
				network monitoring, intrusion detection, and incident response. You can find a detailed overview of my
				education and experience in my <a href="/about">About</a> page.
			</p>
			<br>
			<h2>Projects</h2>
			<p>
				In the Projects section, you'll discover a selection of my work, including personal projects highlighting my
				skills and creativity. Each project showcases my approach to problem solving and my passion for technology.
				Feel free to explore the <a href="/blog">Blog</a> for insights
			</p>
			<br>
			<h2>Connect with Me</h2>
			<p>
				I love networking and connecting with like-minded individuals. If you have any questions, suggestions, or just want to chat about tech, feel free to reach out!
				
			</p>
		</main>
		<Footer />
	</body>
</html>
